# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. c/c++

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. seaborn

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
print(200/6,"hours")

33.333333333333336 hours

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries by Data Scientists  
- Create and format markdown cells in a Jupyter notebook  
- Demonstrate basic arithmetic operations in Python  
- Create tables and lists using Markdown

## Author

Abhishek A Nair